#center {
  text-align:center;
  margin:auto;
  margin-top:100px;
  padding:30px;
  left:30%;
}
#heading {
  font-family:'Andika';
  margin-top:30px;
}
#links {
  margin-top:-15px;
}
footer {
  position:fixed;
  width:100%;
  background-color:rgba(231,231,231,0.68);
  bottom:0;
  border-top:1px solid rgb(204,204,204);
  padding:0;
  margin-left:0;
}
#foot {
  font-family:'Andika';
  color:grey;
  text-align:center;
}

